/* autohide bookmarks toolbar */

#PersonalToolbar {
  background-color: rgba(0,0,0,0.5) !important;
  padding-top: 4px !important;
  visibility: collapse;
  position: absolute;
}
#navigator-toolbox:hover > #PersonalToolbar[collapsed="false"]{
  background-color: rgba(0,0,0,0.5) !important;
  padding-top: 4px !important;
  color: rgba(255,255,255,1);
  visibility: visible;
  position: absolute;
}
